@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:black ;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Custom utilities */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}